<nav class="navber">
    <div class="container">
        <a href="index.html" class="navber_brand">Shoptime</a>
        <button id="js-open_navber_nav" class="navbar_open" type="button"><i
                class="fa-solid fa-bars fa-lg"></i></button>
        <div class="navber_nav" id="js-navber_nav">
            <button id="js-close_navber_nav" type="button" class="navbar_nav_close"><i
                    class="fa-solid fa-xmark fa-lg"></i></button>
            <a href="index.html" class="navber_nav_link">HOME</a>
            <a href="orders.html" class="navber_nav_link">ORDERS</a>
            <a href="product.html" class="navber_nav_link">PRODUCT</a>
            <a href="#" class="navber_nav_link text-white ml-md-auto pr-md-0 border-0 disabled">ADMIN</a>
        </div>
    </div>
</nav>