// 文字顏色
// .text-{$theme-key}
// {$theme-key}：為 $theme 設定之色系，如 primary、success、warning、danger、white、dark...等
.text- {
    @each $theme-key, $theme-value in $theme {
        &#{$theme-key} {
            @include rule(
                $property-data: (
                    'color': $theme-value
                )
            );

            &:hover,
            &:focus {
                @include rule($property-data: ('color': darken($theme-value, $link-hover-color-darken)));
            }
        }
    }
}

// reset
.text-reset {
    color : inherit;
}

// 連結文字 停用
a.disabled{
    pointer-events: none;
}

// 背景顏色
// .bg-{$theme-key}
// {$theme-key}：為 $theme 設定之色系，如 primary、success、warning、danger、white、dark...等
.bg- {
    @each $theme-key, $theme-value in $theme {
        &#{$theme-key} {
            @include rule(
                $property-data: (
                    'background-color': $theme-value
                )
            );
        }
    }

    &transparent {
        background-color: transparent !important;
    }
}
