// Display 屬性
// d-{$breakpoint-key(可省略)}-${$display}
// {$breakpoint-key}：表示斷點尺寸名稱，值為 xs(省略)、sm、md、lg、xl(參照 _variables.scss 檔案內 $grid-breakpoints 的設定)
// {$display}：設定 display 屬性值，值同 $displays 項目

$displays : "none", "inline", "block", "flex";

.d-{
    @each $breakpoint-key, $breakpoint-value in $grid-breakpoints { 
        @each $display in $displays {
            @include RWD-class-name(
                $display,
                $breakpoint-key,
                $property-data: (display: $display),
                $add-important: ture
            )
        }   
    }
}