@each $breakpoint-key, $breakpoint-value in $grid-breakpoints {
    .flex- {
        // 方向 row or column
        // .flex-{$breakpoint-key}-{$flex-direction}
        // {$breakpoint-key}：表示斷點尺寸名稱，值為 xs(省略)、sm、md、lg、xl(參照 _variables.scss 檔案內 $grid-breakpoints 的設定)
        // {$flex-direction}：flex 的方向，值同 $flex-directions 項目
        $flex-directions: "row", "column";
        @each $flex-direction in $flex-directions {
            @include RWD-class-name(
                $flex-direction,
                $breakpoint-key,
                $property-data: (flex-direction: $flex-direction),
                $add-important: ture
            );
        }

        // 填滿
        $flex-fills: "fill";
        @each $flex-fill in $flex-fills {
            @include RWD-class-name(
                $flex-fill,
                $breakpoint-key,
                $property-data: (flex: 1 1 auto),
                $add-important: ture
            );
        }

        // 伸縮值 grow or shrink
        $flex-telescopics: "grow", "shrink";
        @each $flex-telescopic in $flex-telescopics {
            @for $num from 0 through 1 {
                @include RWD-class-name(
                $flex-telescopic,
                $breakpoint-key,
                $property-data: (flex-#{$flex-telescopic}: $num),
                $add-important: ture
                );
            }
        }
    }

    // 內容 justify-content
    // .justify-content-{$breakpoint-key}-{$justify-content-key}
    // {$breakpoint-key}：表示斷點尺寸名稱，值為 xs(省略)、sm、md、lg、xl(參照 _variables.scss 檔案內 $grid-breakpoints 的設定)
    // {$justify-content-key}：flex 內容(justify-content)，值同 $justify-contents 項目
    $justify-contents: (
        start: "flex-start",
        center: "center",
        end: "flex-end",
        between: "space-between",
        around: "space-around"
    );

    .justify-content- {
        @each $justify-content-key, $justify-content-value in $justify-contents {
            @include RWD-class-name(
                $justify-content-key,
                $breakpoint-key,
                $property-data: (justify-content: $justify-content-value),
                $add-important: ture
            );
        }
    }

    // 對齊物件  align-items
    // .align-items-{$breakpoint-key}-{$align-items-key}
    // {$breakpoint-key}：表示斷點尺寸名稱，值為 xs(省略)、sm、md、lg、xl(參照 _variables.scss 檔案內 $grid-breakpoints 的設定)
    // {$align-items-key}：flex 對齊物件(align-items)，值同 $align-items 項目
    $align-items: (
        start: "flex-start",
        center: "center",
        end: "flex-end",
        baseline: "baseline",
        stretch: "stretch"
    );

    .align-items- {
        @each $align-items-key, $align-items-value in $align-items {
            @include RWD-class-name(
                $align-items-key,
                $breakpoint-key,
                $property-data: (align-items: $align-items-value),
                $add-important: ture
            );
        }
    }
}
