// 按鈕
.btn{
    border-radius: $button-border-radius;
    border: $border-width-base $border-style-base transparent;
    padding: $button-padding;
    font-family: $button-font-family;
    font-size: $button-font-size-base;
    cursor: pointer;

    // 按鈕顏色
    // .btn-{$theme-key}
    // {$theme-key}：為 $theme 設定之色系，如 primary、success、warning、danger、white、dark...等
    @each $theme-key, $theme-value in $theme {
        &-#{$theme-key}{
            color: $button-color;
            background-color: $theme-value;
            border-color: $theme-value;

            &:hover, &:focus{
                background-color: darken($theme-value, $button-hover-bg-darken);
                border-color: darken($theme-value, $button-hover-bg-darken);
            }
        }
    }

    // 純文字 按鈕樣式
    &-link{
        color: $link-color;

        &:hover, &:focus{
            color: darken($link-color, $link-hover-color-darken);
        }
    }
    
    // 尺寸
    &-lg{
        font-size: $button-font-size-lg;
    }
}