.navber {
    background-color: $navber-bg;
    color: $navber-color;
    font-family: $navber-font-family;

    > .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap !important;
        }
    }

    .navber_brand {
        color: $navber-color;
        font-size: $navber-brand-font-size;
        font-family: $navber-font-family;
        text-transform: capitalize;
        padding-right: $navber-brand-padding-x;
        padding-top: $navber-brand-padding-y;
        padding-bottom: $navber-brand-padding-y;
    }

    .navbar_open {
        display: block;
        border: 0;
        color: $navber-color;
        margin-left: auto;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .navber_nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 100%;

        @include media-breakpoint-down(md) {
            transform: translateX(-100vw);
            transition: all 0.4s ease-in-out;
            background-color: $navber-bg;
            z-index: 9999;
            position: fixed;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;

            &.navber_nav-show {
                transform: translateX(0);
                width: 100vw;
            }

            .navbar_nav_close {
                color: rgba($navber-color, 0.75);
                position: absolute;
                top: 0.625rem;
                right: 0.625rem;

                &:hover {
                color: $navber-color;
                }
            }
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-basis: auto;
        }

        .navber_nav_link {
            color: $navber-nav-link-color;
            text-transform: uppercase;
            padding: $navber-nav-link-padding;

            @include media-breakpoint-up(md) {
                padding: $navber-nav-link-padding;
            }

            &:hover,
            &-active {
                border-bottom: 4px solid $navber-nav-link-active-color;
                color: $navber-nav-link-active-color;
            }
        }
    }
}
